:root {
  --primary-color: rgb(236, 236, 236);
  --secondary-color: rgb(21, 21, 21);
  --blue-color: #2bc5cd;
  --orange-color: #ff693d;
  --border: 2px solid var(--blue-color);
  --spacing: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.container {
  background-color: var(--primary-color);
  border-radius: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 25px;
  padding-bottom: 5px;
  margin-top: 3%;
  justify-self: center;
  align-self: center;
  gap: 20px;
  width: 130VH;
  height: 80vh;
  overflow: hidden;
}

header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: var(--blue-color);
}

main {
  width: 100%;
  height: 100%;
  border: var(--border);
  grid-column: 2 /3;
  grid-row: 2 /2;
  color: var(--blue-color);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}

main h2{
margin-top: 20%;
}

h1 {
  align-self: start;
  text-align: center;
  font-size: 1.7rem;
  padding: 23px;
  color: var(--primary-color);
}
h3 {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--primary-color);
}

p {
  padding-left: 20px;
  padding-right: 20px;
  color: var(--primary-color);
  font-size: 0.8rem;
  text-align: justify;
}

footer {
  grid-column: 2 /4;
  grid-row: 3 /3;
  background-color: var(--orange-color);
}

footer > p{
  padding-right: 60px;
}

button {
  width: 150px;
  margin: 4px 20px;
  padding: 20px;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--secondary-color);
}
button:hover {
  cursor: pointer;
}

.school {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d8ce469044b958508f4bdbab/blueschoolbackpackwithessentialsupplies_232148207678.jpg);
  grid-column: 2 /3;
  grid-row: 1 /1;
}

.student {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9e4ce16148dd5cbeb1065410/89f80abe-6acd-d8dc-a341-3e571206975b.jpg);
  grid-column: 3 /4;
  grid-row: 1 /1;
}

.time {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/773a5aa425b1502aaac14708/f2b45624-c8f6-3aa0-0ee4-58adda3c89b0.jpg);
  grid-column: 3 /4;
  grid-row: 2 /2;
}

.alumni {
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/89993ff69c3e5244ad2bf1ba/blondestudentgirlissmilingholdingfoldernotebookherhandsuniversitybackground_101969664.jpg);
  grid-column: 1 /2;
  grid-row: 3 /3;
}

.alumni,
.school,
.student,
.time {
  background-size: cover;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 100px 100px repeat(7, 1fr);
    overflow: auto;
    height: auto;
  }
  header {
    grid-row: 1/4;
    grid-column: 1/2;
  }
  .school {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .student {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  main {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .time {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .alumni {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  footer {
    grid-row: 9/10;
    grid-column: 1/2;
  }
}

@media (max-width: 480px) {
  .container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50px 50px repeat(7, 1fr);
    overflow: auto;
    height: auto;
  }
  header {
    grid-row: 1/4;
    grid-column: 1/2;
  }
  .school {
    grid-row: 4/5;
    grid-column: 1/2;
  }
  .student {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  main {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .time {
    grid-row: 7/8;
    grid-column: 1/2;
  }
  .alumni {
    grid-row: 8/9;
    grid-column: 1/2;
  }
  footer {
    grid-row: 9/10;
    grid-column: 1/2;
  }
}